.contact-page {
    font-family: "DM Sans", sans-serif;
    margin: 120px 16.6%;
    height: 600px;

    .section-title {
        text-align: center;
        font-size: 40px;
    }

    .form-row {
        display: flex;
        width: 100%;
        justify-content: space-between;

        .input-wrapper {
            width: 31.5%;

            label {
                
            }
            input {
                background-color: #0000000D;
                padding: 16px 20px;
                border-radius: 10px;
            }
        }
    }
}

.footer {
    font-family: "DM Sans", sans-serif;
}