.section-header {
  font-family: "Lilita One", cursive;
  font-size: 100px;
  position: relative;
  height: 250px;
  margin-top: -12px;

  .header {
    position: absolute;
    left: 0;
    right: 0;

    &.black {
      z-index: 3;
    }

    &.white {
      left: 8px;
      top: 4px;
      color: #ffffff;
      z-index: 2;
    }

    &.blue {
      left: 18px;
      top: 9px;
      z-index: 1;
      color: #aed8ff;
    }
  }

  &.mobile {
    & .white {
      left: 4px;
      top: 2px;
      color: #ffffff;
      z-index: 2;
    }

    & .blue {
      left: 8px;
      top: 4px;
      z-index: 1;
      color: #aed8ff;
    }
  }
}

@media screen and (max-width: 950px) {
  .section-header {
    font-size: 80px;
    height: 190px;

    .header {
      &.white {
        left: 6px;
        top: 3px;
      }

      &.blue {
        left: 12px;
        top: 6px;
      }
    }
  }
}

@media screen and (max-width: 700px) {
  .section-header {
    font-size: 72px;
    height: 150px;

    .header {
      &.white {
        left: 4px;
        top: 2px;
        color: #ffffff;
        z-index: 2;
      }

      &.blue {
        left: 8px;
        top: 4px;
        z-index: 1;
        color: #aed8ff;
      }
    }
  }
}

@media screen and (max-width: 600px) {
  .section-header {
    height: 230px;
  }
}

@media screen and (max-width: 500px) {
  .section-header {
    font-size: 60px;
    height: 190px;
  }
}

@media screen and (max-width: 360px) {
  .section-header {
    font-size: 50px;
    height: 160px;
  }
}
