.App {
  font-family: "DM Sans", sans-serif;
  // font-family: "Lilita One", cursive;
  display: flex;
  flex-direction: column;
  min-width: 300px;
}

section {
  scroll-margin-top: 160px;
  padding-bottom: 159px;
}

.section-title {
  font-weight: 700;
  font-size: 40px;
  margin-bottom: 30px;
}

.blue-outline-btn {
  border: 2px solid #0081f8;
  color: #0081f8;
  padding: 22px 52px;
  border-radius: 100px;
  cursor: pointer;
  font-size: 24px;
  font-weight: 700;
  margin-right: 10px;
  white-space: nowrap;

  &:hover {
    background-color: #1b8efa;
    border-color: #1b8efa;
    color: white;
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.247);
  }

  &.black {
    border-color: black;
    color: black;
    padding: 22px 40px;

    &:hover {
      background-color: rgb(71, 71, 71);
      color: white;
    }
  }
}

.blue-green-btn {
  background-color: #0081f8;
  color: #a7ff4f;
  border: 2px solid #ffffff;
  border-radius: 100px;
  padding: 22px 52px;
  cursor: pointer;
  font-size: 24px;
  font-weight: 700;
  margin-left: 10px;
  box-shadow: 6px 6px 0px #a7ff4f;

  &:hover {
    background-color: #1b8efa;
    transform: translate(2px, 2px);
    box-shadow: 4px 4px 0px #a7ff4f;
  }
}

.solid-btn {
  background-color: black;
  border: solid 2px black;
  color: white;
  padding: 22px 40px;
  border-radius: 100px;
  font-size: 24px;
  font-weight: 700;
  cursor: pointer;

  &:hover {
    background-color: rgb(71, 71, 71);
  }
}

.hero {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding-top: 120px;

  .italic {
    font-weight: 400;
    font-style: italic;
    font-size: 24px;
    margin-top: 62px;
  }

  .hero-buttons {
    display: flex;
    justify-content: center;
    margin-top: 29px;
    margin-left: 28px;
  }
}

.how-it-works {
  margin: 0 8% -10px;
  padding-top: 145px;

  .content {
    display: flex;

    .text-content {
      width: 50%;

      .text-div {
        margin-bottom: 80px;
      }

      .text-title {
        font-family: "Lilita One", cursive;
        font-size: 50px;
        margin-bottom: 20px;
      }

      .text-copy {
        font-size: 24px;
        line-height: 31.2px;
        padding-right: 15%;
      }
    }

    .img-content {
      width: 50%;
      padding: 0 0 0 7%;

      img {
        width: 100%;
        max-width: 600px;
      }
    }
  }
}

.talent {
  text-align: center;
  padding-top: 169px;
  margin: 0 8%;

  .section-header {
    font-size: 80px;
  }
}

.mission {
  padding-top: 145px;
  margin: 0 8%;
  .mission-content {
    display: flex;
    flex-direction: row-reverse;

    .mission-text {
      width: 50%;
      padding: 2.5% 0 0 5%;

      .text-title {
        font-family: "Lilita One", cursive;
        font-size: 50px;
        margin-bottom: 20px;
      }

      .text-copy {
        font-size: 24px;
        line-height: 31.2px;
        padding-right: 15%;
        margin-bottom: 35px;
      }
    }

    .mission-img {
      width: 50%;
      padding: 0 5% 0 0;
      img {
        width: 100%;
        max-width: 600px;
      }
    }
  }
}

.hello {
  background: linear-gradient(90deg, #ff6f32 51.18%, #f24922);
  padding: 140px 8%;

  .hello-content {
    display: flex;
    flex-direction: row;

    .hello-text {
      width: 50%;

      .title {
        font-family: Lilita One;
        font-size: 80px;
        font-weight: 400;
        line-height: 110%;
        color: white;
        margin-bottom: 17px;
      }

      .copy {
        font-family: DM Sans;
        font-size: 30px;
        font-weight: 400;
        line-height: 133%;
        color: white;
        margin-bottom: 36px;
      }

      .button-div {
        display: flex;
        flex-direction: column;
        button {
          width: 320px;
          text-align: center;
          margin-bottom: 18px;
        }
      }
    }

    .hello-img {
      width: 50%;

      img {
        width: 100%;
        max-width: 800px;
      }
    }
  }
}

.footer {
  padding: 55px 8%;
  background-color: #0081f8;

  .footer-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    .left {
      display: flex;
      .logo-div {
        cursor: pointer;
        img {
          width: 120px;
        }
      }
      .vr {
        border-right: solid 1px white;
        margin: 0 20px 0 25px;
      }
      .links {
        display: flex;
        flex-direction: column;
        justify-content: center;

        a {
          margin-bottom: 5px;
          color: white;
          font-weight: 700;
          font-size: 12px;
          cursor: pointer;

          &:hover {
            color: rgba(255, 255, 255, 0.826);
          }
        }
      }
    }
    .right {
      .socials {
        display: flex;
        align-items: center;
        .svg-div {
          cursor: pointer;
          svg {
            margin: 0 15px;
            path {
              fill: rgba(255, 255, 255, 0.647);
            }

            &:hover {
              path {
                fill: rgb(255, 255, 255);
              }
            }
          }
        }
      }
    }
  }
}

//-- Media Queries --//

@media screen and (max-width: 1390px) {
  .how-it-works {
    .content {
      .text-content {
        .text-title {
          font-size: 42px;
        }

        .text-copy {
          font-size: 22px;
          line-height: 28.6px;
          padding-right: 15%;
        }
      }

      .img-content {
        padding: 0 0 0 4%;

        img {
          width: 100%;
          max-width: 600px;
        }
      }
    }
  }
}

@media screen and (max-width: 1170px) {
  .how-it-works {
    .content {
      .text-content {
        .text-title {
          font-size: 36px;
        }

        .text-copy {
          font-size: 18px;
          line-height: 23.4px;
          padding-right: 25%;
        }
      }

      .img-content {
        padding: 3% 0 0 3%;

        img {
          width: 100%;
          max-width: 600px;
        }
      }
    }
  }
}

@media screen and (max-width: 1000px) {
  .how-it-works {
    .content {
      .text-content {
        .text-title {
          font-size: 30px;
        }

        .text-copy {
          font-size: 15px;
          line-height: 19.5px;
          padding-right: 25%;
        }
      }

      .img-content {
        padding: 3% 0 0 3%;

        img {
          width: 100%;
          max-width: 600px;
        }
      }
    }
  }
}

@media screen and (max-width: 950px) {
  .section-title {
    font-size: 30px;
  }

  .blue-green-btn {
    padding: 16px 40px;
    font-size: 20px;
    margin-left: 10px;
  }

  .blue-outline-btn {
    padding: 16px 40px;
    font-size: 20px;
  }

  section {
    scroll-margin-top: 160px;
    padding-bottom: 120px;
  }

  .solid-btn {
    font-size: 20px;
  }

  .hero {
    padding-top: 90px;
  }

  .how-it-works {
    padding-top: 120px;
    margin-bottom: 30px;
    .content {
      flex-direction: column;
      align-items: center;
      text-align: center;
      .text-content {
        width: 80%;
        .text-title {
          font-size: 50px;
          margin-bottom: 20px;
        }

        .text-copy {
          font-size: 24px;
          line-height: 31.2px;
          padding-right: 0;
        }
      }

      .img-content {
        padding: 10px 0;
        width: 70%;

        img {
          width: 90%;
          max-width: 600px;
        }
      }
    }
  }

  .talent {
    padding-top: 169px;

    .section-header {
      font-size: 70px;
    }
  }

  .mission {
    padding-top: 110px;
    .mission-content {
      flex-direction: column;
      text-align: center;
      align-items: center;
      width: 100%;

      .mission-text {
        padding: 0;
        width: 80%;
        .text-copy {
          padding: 0;
        }
      }

      .mission-img {
        padding: 60px 0 0;
        width: 70%;
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .talent {
    padding-top: 140px;

    .section-header {
      font-size: 60px;
    }
  }
}

@media screen and (max-width: 700px) {
  .section-title {
    font-size: 24px;
  }

  .blue-green-btn {
    padding: 16px 40px;
    font-size: 18px;
    margin-left: 6px;
    box-shadow: 4px 4px 0px #a7ff4f;

    &:hover {
      box-shadow: 2px 2px 0px #a7ff4f;
    }
  }

  .blue-outline-btn {
    padding: 16px 40px;
    cursor: pointer;
    font-size: 18px;
    margin-right: 6px;
  }

  .hero {
    padding-top: 90px;

    .italic {
      font-size: 20px;
      margin-top: 55px;
    }

    .hero-buttons {
      margin-top: 24px;
      margin-left: 18px;
    }
  }

  section {
    padding-bottom: 120px;
  }

  .how-it-works {
    padding-top: 120px;
    .content {
      flex-direction: column;
      align-items: center;
      text-align: center;

      .text-content {
        width: 80%;

        .text-div {
          margin-bottom: 60px;
        }
        .text-title {
          font-size: 42px;
        }

        .text-copy {
          font-size: 22px;
          line-height: 28.6px;
        }
      }

      .img-content {
        padding: 0;

        img {
          width: 100%;
          max-width: 600px;
        }
      }
    }
  }

  .talent {
    padding-top: 130px;

    .section-header {
      font-size: 55px;
    }
  }
}

@media screen and (max-width: 600px) {
  section {
    scroll-margin-top: 120px;
    padding-bottom: 100px;
  }

  .blue-green-btn {
    padding: 12px 32px;
    font-size: 16px;
    margin-left: 6px;
  }

  .blue-outline-btn {
    padding: 12px 32px;
    font-size: 16px;
    margin-right: 6px;
  }

  .hero {
    padding-top: 75px;
    .italic {
      font-size: 18px;
      margin-top: 55px;
    }
  }

  .mission {
    padding-top: 90px;
    .mission-content {
      .mission-text {
        .text-title {
          font-size: 42px;
        }
        .text-copy {
          padding: 5px 0;
          font-size: 20px;
          line-height: 140%;
        }
      }

      .mission-img {
        padding: 60px 0 0;
        width: 75%;
      }
    }
  }

  .talent {
    padding-top: 110px;

    .section-header {
      font-size: 60px;
    }
  }
}

@media screen and (max-width: 500px) {
  .blue-green-btn {
    font-size: 16px;
    margin-left: 0px;
    margin-top: 8px;
  }

  .section-title {
    font-size: 20px;
    margin-bottom: 30px;
  }

  .hero {
    .hero-buttons {
      flex-direction: column;
      align-items: center;
      margin-left: 0;

      button {
        width: 250px;
        padding: 16px 40px;
      }
    }
  }

  .how-it-works {
    padding-top: 100px;
    .content {
      .text-content {
        width: 95%;

        .text-div {
          margin-bottom: 60px;
        }
        .text-title {
          font-size: 36px;
        }

        .text-copy {
          font-size: 18px;
          line-height: 23.4px;
        }
      }

      .img-content {
        width: 85%;
        img {
          width: 100%;
          max-width: 600px;
        }
      }
    }
  }

  .talent {
    padding-top: 90px;

    .section-header {
      font-size: 47px;
    }
  }

  .mission {
    padding-top: 80px;
    .mission-content {
      .mission-text {
        width: 95%;
        .text-title {
          font-size: 36px;
        }
        .text-copy {
          padding: 3px 0;
          font-size: 18px;
        }
      }

      .mission-img {
        padding: 60px 0 0;
        width: 85%;
      }
    }
  }
}

@media screen and (max-width: 360px) {
  .section-title {
    font-size: 16px;
    margin-bottom: 30px;
  }

  .hero {
    padding-top: 75px;
    .italic {
      font-size: 16px;
      margin-top: 50px;
    }
  }

  .how-it-works {
    padding-top: 90px;
    .content {
      .text-content {
        width: 95%;

        .text-div {
          margin-bottom: 50px;
        }
        .text-title {
          font-size: 32px;
          margin-bottom: 10px;
        }

        .text-copy {
          font-size: 15px;
          line-height: 19.5px;
        }
      }

      .img-content {
        width: 85%;
        img {
          width: 100%;
          max-width: 600px;
        }
      }
    }
  }

  .talent {
    padding-top: 80px;

    .section-header {
      font-size: 38px;
    }
  }
}

@media screen and (min-width: 1700px) {
  .how-it-works,
  .mission,
  .talent,
  .hello,
  .footer {
    padding-left: 10%;
    padding-right: 10%;
  }
}

@media screen and (min-width: 2000px) {
  .how-it-works,
  .mission,
  .talent,
  .hello,
  .footer {
    padding-left: 12%;
    padding-right: 12%;
  }
}

@media screen and (min-width: 2200px) {
  .how-it-works,
  .mission,
  .talent,
  .hello,
  .footer {
    padding-left: 15%;
    padding-right: 15%;
  }
}
